@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
  background-color: var(--clr-primary-300);
}

/******************************************************************************
                                  Scrollbar
******************************************************************************/
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  background-color: inherit;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: inherit;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(---clr-bg);
  border-radius: 2rem;
}

/******************************************************************************
                  Corbado Component Style Overwrights
******************************************************************************/
.login-form .cb-container {
  @apply w-auto max-w-none md:w-[400px] md:max-w-[400px];
}

@media screen and (max-width: 481px) {
  .login-form .cb-container {
    width: auto;
  }
}
